.code {
  float: left;
  cursor: pointer;
  position: relative;
  width: 125px;
  height: 125px;
  margin: 4px;

}

.backImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  z-index: -1;
}